<% layout("layouts/boilerplate.ejs") %>
    
        <!-- <h2> All listings </h2> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        .tax-info{
            display: none;
        }
        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3rem;
            padding:1rem;
            margin-left:2rem;
            display: flex;
            align-items: center;
        }
        @media (max-width: 768px) {
            #filters {
                display:none ;
            }
            .navbar-icon {
                display: block;
            }
            .filter p{
                font-size: 0.6rem;
            }
        }
        @media (min-width:992px){
            .navbar-icon{
                display: none;
            }
        }
       
    </style>
    <i class="fa-solid fa-bars navbar-icon mt-2" id="menuIcon" onclick="toggleFilters()"></i>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>Boats</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
        <% for( let listing of allListings){ %>
        <a href="listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text"><b><%= listing.title %></b>
                    <br>
                    &#8377; <%=listing.price ? listing.price.toLocaleString("en-IN") : "price not available" %> /night <i class="tax-info">&nbsp; &nbsp;+18% GST</i></p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    
<script>
    //  function toggleFilters() {
    //         let filters = document.getElementById("filters");
    //         if (filters.style.maxHeight === "0px" || filters.style.maxHeight === "") {
    //             filters.style.maxHeight = "500px"; // Adjust height as needed
    //         } else {
    //             filters.style.maxHeight = "0px";
    //         }
    //     }
    function toggleFilters() {
        let filters = document.getElementById("filters");
        let menuIcon = document.getElementById("menuIcon");
        if (filters.style.display === "none" || filters.style.display === "") {
            filters.style.display = "flex";
            menuIcon.classList.remove("fa-bars");
            menuIcon.classList.add("fa-times");
        } else {
            filters.style.display = "none";
            menuIcon.classList.remove("fa-times");
            menuIcon.classList.add("fa-bars");
        }
    }
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click" , () => {
        let taxInfo = document.getElementsByClassName("tax-info") ;
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline"
            }
            else{
                info.style.display = "none"
            }
            
        }
    })
</script>    




